@charset "UTF-8";


.preenchimento_dez_vermelho {
    background-color: darkred;
    padding: 10px;
}
.tamanho_cem {
    width: 100px;
}

.espaco_linha {
    line-height: 30px;
}

/* Glossário */
/* Pendentes:

align-items
align-content
align-self
text-align

flex-grow
flex-shrink
flex-basis
flex

*/
/*
display

visibility

flex-wrap
flex-direction
flex-flow

@@@@@ justify-content

*/

.disposicao_bloco {display: block;}
.disposicao_em_linha {display: inline;}
.disposicao_bloco_em_linha {display: inline-block;}
.disposicao_nenhuma {display: none;}
.disposicao_flex {display: flex;}
/* display - disposição, configura como o elemento deve se comportar em uma linha
    @@@@@ Valores:
        block - bloco, deve ocupar toda a linha que aparece e jogar o próximo elemento para baixo

        inline - em linha, o elemento permanece na sua linha e não sofre efeitos das propriedades width e heigth

        inline-block - bloco em linha, permite a existência de elementos ao seu lado e diferentemente do inline pode ser modificada a sua altura e largura

        none - nenhum, faz o elemento sumir, deixa ele e todos os elementos filhos desativados, parecendo que nunca foram escritos, mas se olhar com o inspecionar notará que ele estará lá

        flex - 

*/


















.visibilidade_escondido {visibility: hidden;}
.visibilidade_visivel {visibility: visible;}
/* visibility - visibilidade, indica se um elemento deve ou não aparecer
    Valores:
        visible - visivel
        hidden - escondido
        collapse - colapsado, deixa escondido e ajusta uma cédula de uma tabela para as próximas cédulas se ajustarem automaticamente em um reposicionamento como se uma não existisse.
*/

















.flex_sem_embrulho {flex-wrap: nowrap;}
.flex_embrulho {flex-wrap: wrap;}
.flex_embrulho_reverso {flex-wrap: wrap-reverse;}
/* flex-wrap - 
    Valores:
        nowrap - sem embrulho, deixa todos os elementos em uma única linha
        wrap - embrulho, permite o surgimento de outras linhas para um elemento ocupar
        wrap-reverse - embrulho reverso, permite o surgimento de outras linhas para um elemento ocupar, ordenando ao contrário, então o último elemento será o primeiro na ordem dos blocos
*/














.flex_direcao_linha {flex-direction: row;}
.flex_direcao_linha_reversa {flex-direction: row-reverse;}
.flex_direcao_coluna {flex-direction: column;}
.flex_direcao_coluna_reversa {flex-direction: column-reverse;}
/* flex-direction - direção flex, ajusta como deve ficar o posicionamento dos elementos filhos do elemento pai flex 
    Valores:
        row - linha
        row-reverse - linha reversa
        column - coluna reversa
        column-reverse - coluna reversa
*/









.flex_fluxo_linha_sem_quebra {flex-flow: row nowrap;}
/* flex-flow - fluxo do flex, define duas propriedades dos elementos flex
    Valores:
        Combinações de valores das propriedades flex-wrap e flex-direction
*/











.conteudo_justificado_flex_inicio {justify-content: flex-start;}
.conteudo_justificado_flex_final {justify-content: flex-end;}
.conteudo_justificado_centralizado {justify-content: center;}
.conteudo_justificado_espaco_entre_si {justify-content: space-between;}
.conteudo_justificado_espaco_conteiner {justify-content: space-around;}
.conteudo_justificado_espaco_uniforme {justify-content: space-evenly;}
/* 
Onde posso usar os outros valores? Indique em comentário onde estão
.conteudo_justificado_inicio {justify-content: start;}
.conteudo_justificado_final {justify-content: end;}
.conteudo_justificado_esquerda {justify-content: left;}
.conteudo_justificado_direita {justify-content: right;}
.conteudo_justificado_seguro {justify-content: safe;}
.conteudo_justificado_inseguro {justify-content: unsafe;}
.conteudo_justificado_esticado {justify-content: stretch;}
.conteudo_justificado_linha_de_base {justify-content: baseline;}
.conteudo_justificado_primeira_linha_de_base {justify-content: first baseline;}
.conteudo_justificado_ultima_linha_de_base {justify-content: last baseline;} */

/* justify-content - conteúdo justificado, posiciona elementos de uma determinada forma
    Valores:
        *Funciona no display flex
            flex-start - no lado esquerdo 
            flex-end - no lado direito
            center - no centro
            space-between - espaço igual entre cada elemento
            space-around - espaço igual para cada lateral do elemento
            space-evenly - espaços iguais para cada lateral, contando com o do elemento pai

        @@@@@ A descobrir
            start
            end
            left
            right
            safe
            unsafe
            stretch
            baseline
            first baseline
            last baseline
*/














.itens_alinhados_esticado {align-items: stretch;}
.itens_alinhados_centro {align-items: center;}
.itens_alinhados_final_flex {align-items: flex-end;}
.itens_alinhados_comeco_flex {align-items: flex-start;}
.itens_alinhados_linha_base {align-items: baseline;}
/* align-items - alinhamento dos itens, serve ajustar como os elementos
    Valores:
        stretch - esticado
        center - centro
        flex-end - no fim do elemento flex
        flex-start - no início do elemento flex
        baseline - linha base
*/




















































