@charset "UTF-8";

.fundo_vermelho {
    background-color: darkred;
}

/* Glossário */
/* Pendentes: */
/*


*/


.largura_quinhentos {
    width: 500px;
}
.largura_cinquenta {
    width: 50px;
}
.largura_cinquenta_porcentagem {
    width: 50%;
}
/* width - largura, define o tamanho horizontal de um elemento
    Valores:
        Unidades de medidas
*/














.altura_quinhentos {
    height: 500px;
}
.altura_cinquenta {
    height: 10px;
}
.altura_cinquenta_porcentagem {
    height: 50%;
}
/* height - altura, define o tamanho vertical que um elemento deve possuir */






/* @media - média, define @@@@@ um bloco de ações que devem ocorrer quando a tela atingir um determinado tamanho */
@media (max-width: 800px) {
    .responsividade_largura_maxima {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .responsividade_largura_minima {
        width: 80%;
    }
}




.max_largura {
    max-width: 50px;
}
.min_largura {
    min-width: 300px;
}

.max_altura {
    max-height: 50px;
}
.min_altura {
    min-height: 300px;
}

/*
max-width
max-heigt

min-width
min-height

max e min - máximo e mínimo conjuntos servem para limitar uma ação para ocorrer até um ponto 
*/

















