@charset "UTF-8";

.visualizacao {
    min-width: 420px; 
    min-height: 420px;
}

/* Glossário */
/*

background-color
opacity
background-image
background-repeat

*/

.fundoverde {
    background-color: lawngreen;
}
.fundopreto {
    background-color: black;
}
/* background-color - muda a cor do fundo
    Valores:
        Padrões de cor
*/



.opacidade {
    opacity: 0.5;
    /* @@@@@@@@@@@@ opacity - muda a transparência, seu valor acaba por interferir na opacidade dos elementos filhos só permitindo ficar mais fraco e não poder retornar o que era antes
        Valores:
            variam de 0 a 1 (Porcentagem minimizada)
    */
}
.opacidademaior {
    opacity: 1;
}
.opacidademenor {
    opacity: 0.25;
}



.fundoimg {
    color: black;
    font-weight: 900;
    text-shadow: -2px 2px 0px yellow;
    background-image: url("../midia/imagens/duzentosporduzentos.png");
    /* back-ground-image - define uma imagem de fundo
        Valores:
            url() - entre aspas duplas coloque o caminho da imagem ou sua url
    */
}




.fundoimg {
    background-repeat: repeat;
}
.repetirximg {
    background-repeat: repeat-x;
}
.repetiryimg {
    background-repeat: repeat-y;
}
.naorepetir {
    background-repeat: no-repeat;
}
.repetirespacado {
    background-repeat: space;
}
.repetiresticada {
    background-repeat: round;
}
/* background-repeat - configura a repetição da imagem de fundo
    Valores:
        repeat - repetição é usado para quando acabar o tamanho da imagem, verificar se está cobrindo todo o elemento caso não esteja é colocada outra imagem e assim por diante tanto no sentido horizontal quanto vertical

        repeat-x - repetição apenas na horizontal

        repeat-y - repetição apenas na vertical

        space - espaço, ele pega a imagem e coloca lá no ponto inicial dela, depois disso é verificado quantas imagens após ela conseguem aparecer inteiras, aí se tiver alguma imagem que ao se repetir ficasce cortada, ela deixa um espaço vazio, então seria analisado qual foi essa distância que sobrou e repartiria em tamanhos iguais entre cada imagem que teve a mais do que a inicial.
            Exemplo: se escolhescemos uma imagem de 200px de largura para ficar em um elemento de 1100px de largura, seria colocada a primeira imagem, então 1100 - 200 = 900 esse resultado foi o espaço que sobrou, fazendo o cálculo de quantas outras inteiras apareceriam faríamos assim; 900 / 200 = 4 inteiros com resto 100 esse espaço que sobrou é dividido por cada imagem a mais e inserido a sua esquerda 100 / 4 = 25 colocando-se assim um espaço a esquerda de 25px em cada imagem que apareceu a mais.

        round - segue o procedimento bem parecido com o do space, mas ao invés de inserir espaços ele estica as imagens
*/










