@charset "UTF-8";

/* Glossário */
/* Pendentes: */
/*


*/



.cor_verde {
    color: rgb(28, 179, 128);
    /* color - cor, atera a cor do texto, mas ao usá-la esteja ciente que a cor de outras popriedades que utilizam da cor do texto como também serão alteradas
        Valores:
            Padrões de cores
    */
}













.fonte_grossa {
    font-weight: 900;
}
.fonte_forte {
    font-weight: 700;
}
.fonte_normal {
    font-weight: 500;
}
.fonte_clara {
    font-weight: 100;
}
/* font-weight - define o nível de negrito, a grossura da fonte
    Valores:
        Números de 100 a 900 pulando de 100 em 100 definem a espessura da fonte variando da mais fraca, quase invisível, 100, até a mais grossa 900, dependendo do navegador e da família da fonte não será possível ver todas as suas variações
        
*/












