@charset "UTF-8";


.preenchimento_dez {
    background-color: darkred;
    padding: 10px;
}
.tamanho_cem {
    width: 100px;
}

.espaco_linha {
    line-height: 30px;
}

/* Glossário */
/* Pendentes:
*/
/*
display

visibility

*/

.disposicao_bloco {
    display: block;
}
.disposicao_em_linha {
    display: inline;
    margin: 100px 50px;
}
.disposicao_bloco_em_linha {
    display: inline-block;
}
.disposicao_sumir_clique {
    display: none;
}
/* display - disposição, configura como o elemento deve se comportar em uma linha
    @@@@@ Valores:
        block - bloco, deve ocupar toda a linha que aparece e jogar o próximo elemento para baixo

        inline - em linha, o elemento permanece na sua linha e não sofre efeitos das propriedades width e heigth

        inline-block - bloco em linha, permite a existência de elementos ao seu lado e diferentemente do inline pode ser modificada a sua altura e largura

        none - nenhum, faz o elemento sumir, deixa ele e todos os elementos filhos desativados, parecendo que nunca foram escritos, mas se olhar com o inspecionar notará que ele estará lá

*/








.visibilidade_escondido {
    visibility: hidden;
}
/* visibility - visibilidade, indica se um elemento deve ou não aparecer
    Valores:
        visible - visivel
        hidden - escondido
        collapse - deixa escondido e ajusta uma cédula de uma tabela para as próximas cédulas se ajustarem automaticamente em um reposicionamento como se uma não existisse
*/











