@charset "UTF-8";


/* Pendentes: 

margin-block-end
margin-inline-start
margin-inline-end
margin-block-start
margin-inline
margin-block

shape-margin

scroll-margin
scroll-margin-top
scroll-margin-right
scroll-margin-bottom
scroll-margin-left
scroll-margin-block-end
scroll-margin-inline-start
scroll-margin-inline-end
scroll-margin-block-start
scroll-margin-inline
scroll-margin-block
*/

/* Glossário
margin

margin-top
margin-right
margin-bottom
margin-left

*/


.margem_cem {
    margin: 100px;
}
/* margin - margem, coloca uma distância entre um elemento dos outros
    Valores:
        Unidades de medida
*/
.margem_misturada {
    margin-top: -100px;
    margin-right: 10px;
    margin-bottom: -30px;
    margin-left: 50px;
}
.margem_inferior_vinte {margin-bottom: 20px;}
.margem_superior_vintecinco {margin-bottom: 15px;}
.margem_x_dez {margin: 0px 10px;}
.margem_x_quinze {margin: 0px 15px;}
/* 
margin-top
margin-right
margin-bottom
margin-left

margem indicada
*/

