@charset "UTF-8";

.fundo_vermelho {
    background-color: darkred;
}

/* Pendentes: 
padding-inline-start
padding-inline-end
padding-block-start
padding-block-end
padding-block
padding-inline

scroll-padding-inline-start
scroll-padding-inline-end
scroll-padding-block-start
scroll-padding-block-end
scroll-padding-block
scroll-padding-inline
scroll-padding-top
scroll-padding-right
scroll-padding-bottom
scroll-padding-left
scroll-padding

*/

/* Glossário:
padding

padding-top
padding-right
padding-bottom
padding-left

*/

.preenchimento {
    padding: 10px;
}
.preenchimento_dividido {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
}
/* padding - preenchimento, aumenta o espaço interno do conteúdo
    Valores:
        Unidades de medida
*/
/*
padding-top
padding-right
padding-bottom
padding-left

preenchimento direcionado
*/













