@charset "UTF-8";

.fundo_vermelho {
    background-color: darkred;
}

.preenchimento_20 {
    padding: 20px;
}
.borda_20 {
    border: 20px solid black;
}
.margem_20 {
    margin: 20px;
}


/* Glossário */
/* Pendentes: 
    overflow-wrap
    overflow-anchor
    overflow-block
    overflow-inline
    text-overflow

    clip-path
*/
/*
width
height

@media

max-width
min-width

max-height
min-height

box-sizing

overflow
overflow-x
overflow-y

*/


.largura_quinhentos {
    width: 500px;
}
.largura_cinquenta {
    width: 50px;
}
.largura_cinquenta_porcentagem {
    width: 50%;
}
/* width - largura, define o tamanho horizontal de um elemento
    Valores:
        Unidades de medidas
*/














.altura_quinhentos {
    height: 500px;
}
.altura_cinquenta {
    height: 10px;
}
.altura_cinquenta_porcentagem {
    height: 50%;
}
/* height - altura, define o tamanho vertical que um elemento deve possuir */






/* @media - média, define @@@@@ um bloco de ações que devem ocorrer quando a tela atingir um determinado tamanho especificado no seu parênteses */
@media (max-width: 800px) {
    .responsividade_largura_maxima {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .responsividade_largura_minima {
        width: 80%;
    }
}




.max_largura {
    max-width: 50px;
}
.min_largura {
    min-width: 300px;
}

.max_altura {
    max-height: 50px;
}
.min_altura {
    min-height: 300px;
}

/*
max-width
max-heigt

min-width
min-height

max e min - máximo e mínimo conjuntos servem para limitar uma ação para ocorrer até um ponto 
*/











.camadas_relatividade_na_borda {
    box-sizing: border-box;
}
.camadas_relatividade_no_conteudo {
    box-sizing: content-box;
}
/* box-sizing - tamanho da caixa, define se o tamanho dado no width e no height devem ou não ser em relação a borda ou ao conteúdo
    Valores:
        border-box - caixa na borda, define que o tamanho dado será efetuado até a borda se eu falar que um elemento tem width:500px e tentar adicionar uma borda a borda não será criada para frente e sim para dentro de seu conteúdo

        content-box - caixa no conteúdo, define que os tamanhos informados só irão alterar o conteúdo
*/








.vazar_lorem {
    width: 120px;
    height: 150px;
}

.vazamento_visivel {
    overflow: visible;
}
.vazamento_escondido {
    overflow: hidden;
}
.vazamento_rolagem {
    overflow: scroll;
}
.vazamento_rolagem_automatica {
    overflow: auto;
}
/* overflow - extravazamento, lida com a forma que se deve ter após um conteúdo vazar de seu elemento
    Valores:
        visible - visível
        hidden - escondido
        scroll - rolar
        auto - rolar quando vazado
*/






.vazamento_visivel-x {
    overflow-x: visible;
}
.vazamento_escondido-x {
    overflow-x: hidden;
}
.vazamento_rolagem-x {
    overflow-x: scroll;
}
.vazamento_rolagem_automatica-x {
    overflow-x: auto;
}
.vazamento_visivel-y {
    overflow-y: visible;
}
.vazamento_escondido-y {
    overflow-y: hidden;
}
.vazamento_rolagem-y {
    overflow-y: scroll;
}
.vazamento_rolagem_automatica-y {
    overflow-y: auto;
}
/* 
overflow-x
overflow-y

Lidam com o extravazamento nos eixos explicados após o nome overflow da propriedade
*/











